// custom variables
$primary: #3b3a38;
$secondary: #a1aa9b;
$light: #f9f5f0;
$dark: #131313;
$font-family-base: "Oxygen", sans-serif;

.carousel-indicators {
  background-color: $secondary !important;
}

// import functions & variables
// @import "../node_modules/bootstrap/scss/_functions";
// @import "../node_modules/bootstrap/scss/_variables";

// $custom-theme-colors: (
//   "altlight": #f9f9f9,
//   "altdark": #525252,
// );

// $theme-colors: map-merge($custom-theme-colors, $theme-color);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
