// custom variables
$primary: #3b3a38;
$secondary: #a1aa9b;
$light: #f9f5f0;
$dark: #131313;
$font-family-base: "Raleway", sans-serif;
$font-family-secondary: "Montserrat", sans-serif;
$box-shadow-sm: 0 0 5px rgb(0, 0, 0, 0.1);

.otr-logo {
  height: 50px;
}

.navbar-nav {
  flex-direction: row;
  justify-content: center;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

p {
  font-family: $font-family-secondary;
}

.card img {
  width: 100%;
}

.carousel-indicators {
  background-color: $secondary !important;
}

// import functions & variables
// @import "../node_modules/bootstrap/scss/_functions";
// @import "../node_modules/bootstrap/scss/_variables";

// $custom-theme-colors: (
//   "altlight": #f9f9f9,
//   "altdark": #525252,
// );

// $theme-colors: map-merge($custom-theme-colors, $theme-color);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
