# Node modules folder
node_modules/

# SASS cache
.sass-cache/

# System files
.DS_Store
Thumbs.db

# IDE or editor folder
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Compiled output
/dist/
/build/